<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill List</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/skill.css') }}">
</head>
<body>
    <h1>Skills</h1>
    <p>Add a New Skill</p>
    <div class="content">
        <table id="skill-table">
            <tr>
                <th>Name</th>
                <th>Mastery</th>
                <th>Actions</th>
            </tr>
            {% for skill in NeoSkills %}
            <tr>
                <td>{{ skill.name }}</td>
                <td>{{ skill.mastery }}</td>
                <td>
                    <div id="skill-data" data-skill-id="{{ skill.id }}" style="display:none;"></div>
                    <a href="#" onclick="LinkClickNS('{{ skill.id }}')">Update</a>
                    <a href="/DeleteNeoSkill/{{skill.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="update-overlay">
        <div id="update-skill-div">
            <h1>Update Task</h1>
            <form id="update-skill-form" method="POST">
                <input type="text" id="update-skill-name" name="content" required>
                <label for="mastery">Mastery Level:</label>
                <div class="range-container">
                    <span class="range-label">Beginner</span>
                    <div class="range-slider">
                        <input type="range" id="update-skill-mastery" name="mastery" min="0" max="100" value="50" oninput="UpdateSpanValue(this.value)" required>
                        <span class="range-value" id="skill-range-update">50</span>
                    </div>
                    <span class="range-label">Expert</span>
                </div>
                <input type="submit" id="update-input" value="Update Skill"> 
            </form>
        </div>
    </div>
    <div>
        <form action="/Compute" method="GET">
            <input type="submit" id="done-input" value="Done">
        </form>    
    </div>

    <script src="{{ url_for('static', path='js/neoskill.js') }}"></script>
</body>
</html>



