<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill List</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/data.css') }}">
</head>
<body>
    <div class="container">
        <div id="left-div">
            <h1>Tasks</h1>
            <p>Add your tasks by order of priority</p>        
            <table>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                {% for task in NewTasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.date }}</td>
                    <td>
                        <a href="#" onclick="LinkClick('{{ task.id }}')">Correct</a>
                        <a href="/DeleteAITask/{{task.id}}">Drop</a>
                    </td>
                </tr>
                {% endfor %}    
            </table>
            <form id="AITasksForm" action="/ShowAITasks" method="POST">
                <input type="submit" value="Show AI Tasks" class="task-submit-button">
            </form>    
        </div>
        <div id="right-div">
            <h1>Skills</h1>
            <p>Add a Skill</p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Mastery</th>
                    <th>Actions</th>
                </tr>
                {% for skill in NewSkills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.mastery }}</td>
                    <td>
                        <div id="skill-data" data-skill-id="{{ skill.id }}" style="display:none;"></div>
                        <a href="#" onclick="LinkClickS('{{ skill.id }}')">Correct</a>
                        <a href="/DeleteAISkill/{{skill.id}}">Drop</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <form id="AISkillForm" action="/ShowAISkill" method="POST" class="add-skill-form">
                <input type="submit" value="CV Skills" class="skill-submit-button">
            </form>
        </div>
    </div>

    <div id="update-overlay">
        <div id="update-task-div">
            <h1>Correct Task</h1>
            <form id="update-form-clicker" method="POST">
                <input type="text" name="content" id="content" required>
                <input type="submit" id="update-task-input" value="Update Task"> 
            </form>
        </div>    
        <div id="update-skill-div">
            <h1>Correct Skill</h1>
            <form id="update-skill-form" method="POST">
                <input type="text" id="update-skill-name" name="content" required>
                <label for="mastery">Mastery Level:</label>
                <div class="range-container">
                    <span class="range-label">Beginner</span>
                    <div class="range-slider">
                        <input type="range" id="update-skill-mastery" name="mastery" min="0" max="100" value="50" oninput="UpdateSpanValue(this.value)" required>
                    </div>
                    <span class="range-label">Expert</span>
                    <span class="range-value" id="skill-range-update">50</span>
                </div>
                <input type="submit" id="update-skill-input" value="Update Skill"> 
            </form>
        </div>
    </div>

    <div id="loading-overlay">
        <div id="loading-container">
            <div id="loading-progress"></div>
            <p id="loading-message"></p>
        </div>
    </div> 
    <div>
        <form id="RedirectForm" action="/Compute" method="POST">
            <input type="hidden" name="hidden-input" value="None">
            <button type="submit">Done</button>
        </form>
    </div>

    <script src="{{ url_for('static', path='js/sysdata.js') }}"></script>
</body>
</html>



