<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" http-equiv="content">
    <title>Task List</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/task.css') }}">
</head>
<body>
    <h1>Task List</h1>
    <p>Add your tasks by order of priority</p>
    <div class="content">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        {% for task in Tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.date }}</td>
            <td>
                <a href="{{ request.url_for('UpdateTask', task_id = task.id) }}">Update</a>
                <a href="{{ request.url_for('DeleteTask', task_id = task.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </div>

    <form action="/" method="POST">
        <input type="text" id="content" name="content" placeholder="Add Task">
        <input type="submit" value="Submit">
    </form>

    <form action="/finalize_tasks" method="POST">
        <input type="submit" value="Done">
    </form>

</body>


</html>